*.pyc
__pycache__
*~
.DS_Store
build/*
networkx/version.py
examples/*/*.png
doc/source/networkx-documentation.zip
doc/source/networkx_reference.pdf
doc/source/networkx_tutorial.pdf
doc/source/templates/gallery.html
doc/gh-pages
doc/build
.coverage
*.class

# Generated while building documentation.
doc/source/static/examples/*
doc/source/reference/generated/*
doc/source/examples/*

# Generated when 'python setup_egg.py'
networkx.egg-info/

# Sublime Text project files
*.sublime-project
*.sublime-workspace

# Temporary data
.ipynb_checkpoints/

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
